/* *{ 
    padding: 0; 
    margin: 0;
} */
body {
    background-color: #B7CADB;
}

#game {
    margin: 20px;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 3px;
    border: 3px solid #DAB88B;
    background-color: #F3E9DD;

}

#character {
    width: 70px;
    height: 150px;
    background-image: url(./media/stickman-removebg-preview.png);
    border-radius: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 145px;
    left: 0px;
}

.animate {
    animation: jump 500ms;
}


#block {
    width: 30px;
    height: 30px; 
    background-image: url('./media/bomba-removebg-preview.png');
    border-radius: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 20px;
    left: 45px;
   
}

.bombos, .description {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Rubik Puddles";
}

.move {
    animation: block 2s infinite linear;
}

.btn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #DAB88B;
    border-radius: 10px;
    color: white;
    font-family: "Rubik Puddles"
    
}
/* .move2 {
    animation: block  1.8s infinite linear;
}
.move3 {
    animation: block  1.5s infinite linear;
}
.move4 {
    animation: block  1.2s infinite linear; }*/


.start {
    width: 70px;
    margin-top: 10px;
}

.description {
  margin-top: 150px;
}

.block {
    display: inline-block;
}
#counter {
    font-weight: bold;
}

@keyframes jump{
    0%{top: 125px;}
    30%{top:90px;}
    70%{top:90px;}
    100%{top: 125px}

}
@keyframes block{
    0%{left: 450px;}
    100%{left:0px;}
}